.selectorCorreccion{
    background-color: white;
    color: #32325d !important;
}

.selectorWapis{
  -o-appearance: none;
 -ms-appearance: none;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
}

.logo{
    height: 100px !important;
    /*width: 100px;*/
}

.logo__centered{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* Buscador -------------------------------------------------------------------------*/

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
}
input[type=text] {
  width: 100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 2px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
/* fin del buscador-------------------------------------------------------------------*/

/* barrita setzi de loading ----------------------------------------------------------*/

.loader {
  text-align: center;
  vertical-align: middle;
  position: relative;
  display: flex;
  background: white;
  padding: 150px;
  box-shadow: 0px 40px 60px -20px rgba(0, 0, 0, 0.2);
}

.loader span {
  display: block;
  width: 20px;
  height: 20px;
  background: #eee;
  border-radius: 50%;
  margin: 0 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.loader span:nth-child(2) {
  background: #f07e6e;
}

.loader span:nth-child(3) {
  background: #84cdfa;
}

.loader span:nth-child(4) {
  background: #5ad1cd;
}

.loader span:not(:last-child) {
  animation: animate 1.5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(30px);
  }
}

.loader span:last-child {
  animation: jump 1.5s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(10px, -10px);
  }
  20% {
    transform: translate(20px, 10px);
  }
  30% {
    transform: translate(30px, -50px);
  }
  70% {
    transform: translate(-150px, -50px);
  }
  80% {
    transform: translate(-140px, 10px);
  }
  90% {
    transform: translate(-130px, -10px);
  }
  100% {
    transform: translate(-120px, 0);
  }
}

/* fin de barrita setzi de loading ----------------------------------------------------------*/

/* para notificaciones en pantalla :
 Listas*/
.alerta-error{
  list-style: none;
}

/* borde tabla */
.tablaCustom{
  border: #ccc 1px solid;
  border-radius: 15px;
}