.selectorCorreccion{
    background-color: white;
    color: #32325d !important;
}

.logo{
    height: 100px;
    /*width: 100px;*/
}

.logo__centered{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}